{# *********************************************************************************************************************
 * Projet: Phpmesure
 * Auteur: Tristan Fleury - tristan.fleury.gre@gmail.com
 * Année de production: 2017
 * Licence: GNU General Public License (GPL), version 3
 * Copyright © 2017 Tristan Fleury
 ********************************************************************************************************************* #}

{% extends 'viducphpmesureserveurBundle:Default:base.html.twig' %}

    

{% block body %} 
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- entête de page  -->                   
    <div class="row">
        <div class="col-md-12">
            <h2>Application: {{application.application}}</h2>   
            <h5>Tableau de bord de l'application {{application.application}}</h5>
        </div>
    </div>              
    <!-- /entête de page  -->  

    {{dump(listeMesure)}}

    {% set tempId = 1 %}
    {% for keyClass, class in listeMesure %}    
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">           
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">{{ application.application }}</p>
                    <p class="text-muted">{{ keyClass }}</p>
                </div>
                <div id="nbr{{tempId}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto">
                </div>
                    <script type="text/javascript">
                        Math.easeOutBounce = function (pos) {
                            if ((pos) < (1 / 2.75)) {
                                return (7.5625 * pos * pos);
                            }
                            if (pos < (2 / 2.75)) {
                                return (7.5625 * (pos -= (1.5 / 2.75)) * pos + 0.75);
                            }
                            if (pos < (2.5 / 2.75)) {
                                return (7.5625 * (pos -= (2.25 / 2.75)) * pos + 0.9375);
                            }
                            return (7.5625 * (pos -= (2.625 / 2.75)) * pos + 0.984375);
                        };
                        var categories = new Array();
                        var data = new Array();
                        {% for keyMethode, methode in class %}
                            categories.push('{{keyMethode}}');
                            data.push({{methode.nbr}});
                        {% endfor %}
                        Highcharts.chart('nbr'+{{tempId}}, {
                            chart: {
                                type: 'bar'
                            },
                            title: {
                                text: "Nombre d'utilisation des méthodes de la class"
                            },
                            xAxis: {
                                categories: categories,
                                title: {
                                    text: null
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Utilisation ',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                }
                            },
                            tooltip: {
                                valueSuffix: ''
                            },
                            plotOptions: {
                                series: {
                                    animation: {
                                        duration: 2000,
                                        easing: 'easeOutBounce'
                                    }
                                }
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'top',
                                x: -40,
                                y: 60,
                                floating: true,
                                borderWidth: 1,
                                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                                shadow: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'utilisation',
                                data: data
                            }]
                        });
                    </script>
            </div>    
        </div>   
        <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">{{ application.application }}</p>
                    <p class="text-muted">{{ keyClass }}</p>
                </div>
                <div id="duree{{tempId}}" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto">
                </div>
                    <script type="text/javascript">
                        
                        var categories = new Array();
                        var data = new Array();
                        {% for keyMethode, methode in class %}
                            categories.push('{{keyMethode}}');
                            data.push({{methode.duree}});
                        {% endfor %}
                        Highcharts.chart('duree'+{{tempId}}, {
                            chart: {
                                type: 'column'
                            },     
                            title: {
                                text: "Temps d'exécution des méthodes de la class"
                            },
                            xAxis: {
                                categories: categories,
                                title: {
                                    text: null
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: "temps d'exécution ",
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                }
                            },
                            tooltip: {
                                valueSuffix: ''
                            },
                            plotOptions: {
                                series: {
                                    animation: {
                                        duration: 2000,
                                        easing: 'easeOutBounce'
                                    },
            events: {
                click: function (event) {
                    var out = '';
    for (var i in event) {
        out += i + ": " + event[i] + "\n";
    }

    alert(out);
                }
            }
                                }
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'top',
                                x: -40,
                                y: 60,
                                floating: true,
                                borderWidth: 1,
                                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                                shadow: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: "temps d'exécution",
                                data: data
                            }]
                        });
                    </script>
            </div>                        
        </div> 
        {% set tempId = tempId+1 %}  
    </div>
    {% endfor %}             

{% endblock %}

