{# *********************************************************************************************************************
 * Projet: Phpmesure
 * Auteur: Tristan Fleury - tristan.fleury.gre@gmail.com
 * Année de production: 2017
 * Licence: GNU General Public License (GPL), version 3
 * Copyright © 2017 Tristan Fleury
 ********************************************************************************************************************* #}

{% extends 'viducphpmesureserveurBundle:Default:base.html.twig' %}

    

{% block body %} 
    <link rel="stylesheet" href="{{ asset('bundles/viducphpmesureserveur/css/flot.css') }}" rel='stylesheet' />
    <script type="text/javascript" src="{{ asset('bundles/viducphpmesureserveur/js/flot/jquery.flot.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/viducphpmesureserveur/js/flot/jquery.flot.categories.min.js') }}" ></script>
    <!-- entête de page  -->                   
    <div class="row">
        <div class="col-md-12">
            <h2>Application: {{application.application}}</h2>   
            <h5>Tableau de bord de l'application {{application.application}}</h5>
        </div>
    </div>              
    <!-- /entête de page  -->  

    {{dump(listeMesure)}}

    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">           
            <div class="panel noti-box">           
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <div class="text-box" >
                    <p class="text-info text-center">nombre d'utilisation des méthodes</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">           
            <div class="panel noti-box">           
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-line-chart"></i>
                </span>
                <div class="text-box" >
                    <p class="text-info text-center">temps d'exécution des méthodes</p>
                </div>
            </div>
        </div>
    </div>
    {% set tempId = 1 %}
    {% for keyClass, class in listeMesure %}    
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">           
            <div class="panel noti-box">           
                <div class="text-box" >
                    <p class="text-warning">{{ keyClass }}</p>
                </div>
                <div class="flot-container">
                    <div id="placeholder{{tempId}}" class="flot-placeholder"></div>
                </div>
            </div>
        </div>
        {% set tempId = tempId+1 %}  
    </div>
    {% endfor %}  
    
    <div class="row">
        <div class="col-md-6">
            
        </div>
    </div>
    
     
    <script type="text/javascript">
        {% set tempId = 1 %}
        {% for keyClass, class in listeMesure %}
        $(function() 
        {
            var data = [];
            {% for keymethode, methode in class %}
                var methode = [];
                methode.push("{{ keymethode }}");
                methode.push({{ methode.nbr }});
                data.push(methode);
            {% endfor %} 
            $.plot("#placeholder{{ tempId }}", [ data ], {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.1,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0
                },
                grid: {
                    clickable: true
                },
                colors: ["#d18b2c", "#dba255", "#919733"]
            });
            $("#placeholder{{tempId}}").bind("plotclick", function (event, pos, item) {
                if (item) {
                    alert(data[item.dataIndex][0]);
                }
            });
        });        
        {% set tempId = tempId+1 %} 
        {% endfor %}  
        
    </script>
{% endblock %}

